*.vcxproj.user
*.aps
*.APS
*.opensdf
*.sdf
*.suo
LocMetrics*

Debug
Release
x64
ipch

!VSExternal/Bin32/Debug
!VSExternal/Bin32/Release
!VSExternal/Bin64/Debug
!VSExternal/Bin64/Release
!VSExternal/Lib32/Debug
!VSExternal/Lib32/Release
!VSExternal/Lib64/Debug
!VSExternal/Lib64/Release